# Data Preprocessing

## Imports

In [1]:
import pandas as pd
import json
# Sentiment analysis of reviews
from textblob import TextBlob

## Load Data

In [2]:
# Load the JSON files
def load_json(file_path):
    data = []
    with open(file_path, encoding='utf-8') as file:
        for line in file:
            data.append(json.loads(line))
    return pd.DataFrame(data)

In [3]:
business_data = load_json('../data/yelp_academic_dataset_business.json')
review_data = load_json('../data/yelp_academic_dataset_review.json')

In [ ]:
business_data

,business_id,name,address,city,state,postal_code,latitude,longitude,stars,review_count,is_open,attributes,categories,hours
0,Pns2l4eNsfO8kk83dixA6A,"Abby Rappoport, LAC, CMQ","1616 Chapala St, Ste 2",Santa Barbara,CA,93101,34.426679,-119.711197,5.0,7,0,{'ByAppointmentOnly': 'True'},"Doctors, Traditional Chinese Medicine, Naturop...",None
1,mpf3x-BjTdTEA3yCZrAYPw,The UPS Store,87 Grasso Plaza Shopping Center,Affton,MO,63123,38.551126,-90.335695,3.0,15,1,{'BusinessAcceptsCreditCards': 'True'},"Shipping Centers, Local Services, Notaries, Ma...","{'Monday': '0:0-0:0', 'Tuesday': '8:0-18:30', ..."
2,tUFrWirKiKi_TAnsVWINQQ,Target,5255 E Broadway Blvd,Tucson,AZ,85711,32.223236,-110.880452,3.5,22,0,"{'BikeParking': 'True', 'BusinessAcceptsCredit...","Department Stores, Shopping, Fashion, Home & G...","{'Monday': '8:0-22:0', 'Tuesday': '8:0-22:0', ..."
3,MTSW4McQd7CbVtyjqoe9mw,St Honore Pastries,935 Race St,Philadelphia,PA,19107,39.955505,-75.155564,4.0,80,1,"{'RestaurantsDelivery': 'False', 'OutdoorSeati...","Restaurants, Food, Bubble Tea, Coffee & Tea, B...","{'Monday': '7:0-20:0', 'Tuesday': '7:0-20:0', ..."
4,mWMc6_wTdE0EUBKIGXDVfA,Perkiomen Valley Brewery,101 Walnut St,Green Lane,PA,18054,40.338183,-75.471659,4.5,13,1,"{'BusinessAcceptsCreditCards': 'True', 'Wheelc...","Brewpubs, Breweries, Food","{'Wednesday': '14:0-22:0', 'Thursday': '16:0-2..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
150341,IUQopTMmYQG-qRtBk-8QnA,Binh's Nails,3388 Gateway Blvd,Edmonton,AB,T6J 5H2,53.468419,-113.492054,3.0,13,1,"{'ByAppointmentOnly': 'False', 'RestaurantsPri...","Nail Salons, Beauty & Spas","{'Monday': '10:0-19:30', 'Tuesday': '10:0-19:3..."
150342,c8GjPIOTGVmIemT7j5_SyQ,Wild Birds Unlimited,2813 Bransford Ave,Nashville,TN,37204,36.115118,-86.766925,4.0,5,1,"{'BusinessAcceptsCreditCards': 'True', 'Restau...","Pets, Nurseries & Gardening, Pet Stores, Hobby...","{'Monday': '9:30-17:30', 'Tuesday': '9:30-17:3..."
150343,_QAMST-NrQobXduilWEqSw,Claire's Boutique,"6020 E 82nd St, Ste 46",Indianapolis,IN,46250,39.908707,-86.065088,3.5,8,1,"{'RestaurantsPriceRange2': '1', 'BusinessAccep...","Shopping, Jewelry, Piercing, Toy Stores, Beaut...",None
150344,mtGm22y5c2UHNXDFAjaPNw,Cyclery & Fitness Center,2472 Troy Rd,Edwardsville,IL,62025,38.782351,-89.950558,4.0,24,1,"{'BusinessParking': '{'garage': False, 'street...","Fitness/Exercise Equipment, Eyewear & Optician...","{'Monday': '9:0-20:0', 'Tuesday': '9:0-20:0', ..."
150345,jV_XOycEzSlTx-65W906pg,Sic Ink,238 Apollo Beach Blvd,Apollo beach,FL,33572,27.771002,-82.394910,4.5,9,1,"{'WheelchairAccessible': 'True', 'BusinessAcce...","Beauty & Spas, Permanent Makeup, Piercing, Tattoo","{'Tuesday': '12:0-19:0', 'Wednesday': '12:0-19..."

In [ ]:
business_data.shape

(150346, 14)

In [ ]:
print(list(business_data.columns))

['business_id', 'name', 'address', 'city', 'state', 'postal_code', 'latitude', 'longitude', 'stars', 'review_count', 'is_open', 'attributes', 'categories', 'hours']

In [ ]:
review_data.shape

(6990280, 9)

In [ ]:
print(list(review_data.columns))

['review_id', 'user_id', 'business_id', 'stars', 'useful', 'funny', 'cool', 'text', 'date']

In [ ]:
review_data

,review_id,user_id,business_id,stars,useful,funny,cool,text,date
0,KU_O5udG6zpxOg-VcAEodg,mh_-eMZ6K5RLWhZyISBhwA,XQfwVwDr-v0ZS3_CbbE5Xw,3.0,0,0,0,"If you decide to eat here, just be aware it is...",2018-07-07 22:09:11
1,BiTunyQ73aT9WBnpR9DZGw,OyoGAe7OKpv6SyGZT5g77Q,7ATYjTIgM3jUlt4UM3IypQ,5.0,1,0,1,I've taken a lot of spin classes over the year...,2012-01-03 15:28:18
2,saUsX_uimxRlCVr67Z4Jig,8g_iMtfSiwikVnbP2etR0A,YjUWPpI6HXG530lwP-fb2A,3.0,0,0,0,Family diner. Had the buffet. Eclectic assortm...,2014-02-05 20:30:30
3,AqPFMleE6RsU23_auESxiA,_7bHUi9Uuf5__HHc_Q8guQ,kxX2SOes4o-D3ZQBkiMRfA,5.0,1,0,1,"Wow! Yummy, different, delicious. Our favo...",2015-01-04 00:01:03
4,Sx8TMOWLNuJBWer-0pcmoA,bcjbaE6dDog4jkNY91ncLQ,e4Vwtrqf-wpJfwesgvdgxQ,4.0,1,0,1,Cute interior and owner (?) gave us tour of up...,2017-01-14 20:54:15
...,...,...,...,...,...,...,...,...,...
6990275,H0RIamZu0B0Ei0P4aeh3sQ,qskILQ3k0I_qcCMI-k6_QQ,jals67o91gcrD4DC81Vk6w,5.0,1,2,1,Latest addition to services from ICCU is Apple...,2014-12-17 21:45:20
6990276,shTPgbgdwTHSuU67mGCmZQ,Zo0th2m8Ez4gLSbHftiQvg,2vLksaMmSEcGbjI5gywpZA,5.0,2,1,2,"This spot offers a great, affordable east week...",2021-03-31 16:55:10
6990277,YNfNhgZlaaCO5Q_YJR4rEw,mm6E4FbCMwJmb7kPDZ5v2Q,R1khUUxidqfaJmcpmGd4aw,4.0,1,0,0,This Home Depot won me over when I needed to g...,2019-12-30 03:56:30
6990278,i-I4ZOhoX70Nw5H0FwrQUA,YwAMC-jvZ1fvEUum6QkEkw,Rr9kKArrMhSLVE9a53q-aA,5.0,1,0,0,For when I'm feeling like ignoring my calorie-...,2022-01-19 18:59:27
6990279,RwcKOdEuLRHNJe4M9-qpqg,6JehEvdoCvZPJ_XIxnzIIw,VAeEXLbEcI9Emt9KGYq9aA,3.0,10,3,7,Located in the 'Walking District' in Nashville...,2018-01-02 22:50:47

## Filter Data

In [ ]:
business_data['categories']

0         Doctors, Traditional Chinese Medicine, Naturop...
1         Shipping Centers, Local Services, Notaries, Ma...
2         Department Stores, Shopping, Fashion, Home & G...
3         Restaurants, Food, Bubble Tea, Coffee & Tea, B...
4                                 Brewpubs, Breweries, Food
                                ...
150341                           Nail Salons, Beauty & Spas
150342    Pets, Nurseries & Gardening, Pet Stores, Hobby...
150343    Shopping, Jewelry, Piercing, Toy Stores, Beaut...
150344    Fitness/Exercise Equipment, Eyewear & Optician...
150345    Beauty & Spas, Permanent Makeup, Piercing, Tattoo
Name: categories, Length: 150346, dtype: object

In [ ]:
# Filter businesses based on industry and location
industry = 'Restaurants'
location = 'Philadelphia'

filtered_business = business_data[(business_data['categories'].str.contains(industry)) & (business_data['city'] == location)]

# Merge filtered business data with review data
merged_data = pd.merge(filtered_business, review_data, on='business_id', how='inner')

TypeError: unhashable type: 'dict'

In [ ]:
merged_data = merged_data.dropna(subset=['categories', 'review_count', 'stars_x', 'stars_y', 'text'])

## Sentiment Analysis

In [ ]:
def sentiment_analysis(text):
    sentiment = TextBlob(text).sentiment.polarity
    if sentiment > 0:
        return 'Positive'
    elif sentiment < 0:
        return 'Negative'
    else:
        return 'Neutral'

In [ ]:
merged_data['sentiment'] = merged_data['text'].apply(sentiment_analysis)

In [ ]:
# Extract relevant features
merged_data['business_id'] = merged_data['business_id']
merged_data['name'] = merged_data['name']
merged_data['stars_business'] = merged_data['stars_x']
merged_data['stars_review'] = merged_data['stars_y']
merged_data['text'] = merged_data['text']
merged_data['review_count'] = merged_data['review_count']
merged_data['sentiment'] = merged_data['sentiment']
merged_data['address'] = merged_data['address']
merged_data['city'] = merged_data['city']
merged_data['postal_code'] = merged_data['postal_code']
merged_data['latitude'] = merged_data['latitude']
merged_data['longitude'] = merged_data['longitude']

In [ ]:
# Save preprocessed data
preprocessed_data = merged_data[['business_id', 'name', 'address', 'city', 'state', 'postal_code', 'latitude', 'longitude', 'stars_business', 'stars_review', 'review_count', 'text','sentiment', ]]
preprocessed_data

,business_id,name,stars_business,stars_review,review_count,text,sentiment
0,MTSW4McQd7CbVtyjqoe9mw,St Honore Pastries,4.0,4.0,80,This is nice little Chinese bakery in the hear...,Positive
1,MTSW4McQd7CbVtyjqoe9mw,St Honore Pastries,4.0,4.0,80,This is the bakery I usually go to in Chinatow...,Positive
2,MTSW4McQd7CbVtyjqoe9mw,St Honore Pastries,4.0,5.0,80,"A delightful find in Chinatown! Very clean, an...",Positive
3,MTSW4McQd7CbVtyjqoe9mw,St Honore Pastries,4.0,5.0,80,I ordered a graduation cake for my niece and i...,Positive
4,MTSW4McQd7CbVtyjqoe9mw,St Honore Pastries,4.0,4.0,80,HK-STYLE MILK TEA: FOUR STARS\n\nNot quite su...,Positive
...,...,...,...,...,...,...,...
687284,WnT9NIzQgLlILjPT0kEcsQ,Adelita Taqueria & Restaurant,4.5,5.0,35,Ordered delivery for some tacos on a Saturday ...,Positive
687285,WnT9NIzQgLlILjPT0kEcsQ,Adelita Taqueria & Restaurant,4.5,5.0,35,First time trying this restaurant and I had a ...,Positive
687286,WnT9NIzQgLlILjPT0kEcsQ,Adelita Taqueria & Restaurant,4.5,5.0,35,This restaurant is truly amazing!!! The owner ...,Positive
687287,WnT9NIzQgLlILjPT0kEcsQ,Adelita Taqueria & Restaurant,4.5,4.0,35,Recently got take out from adelita; they were ...,Positive
687288,WnT9NIzQgLlILjPT0kEcsQ,Adelita Taqueria & Restaurant,4.5,4.0,35,Another pretty good Mexican place to add into ...,Positive

In [ ]:
preprocessed_data.to_csv('../data/preprocessed_data.csv', index=False)